/checkpoints/best_model.pth
/checkpoints/history.npy
/checkpoints/last_model.pth
/checkpoints/test_subjects.npy
/outputs/BraTS2021_00003/cnn_probability_map.nii.gz
/outputs/BraTS2021_00003/segmentation_mask.nii.gz
/outputs/BraTS2021_00003/visualisation.png
/outputs/BraTS2021_00005/cnn_probability_map.nii.gz
/outputs/BraTS2021_00005/segmentation_mask.nii.gz
/outputs/BraTS2021_00005/visualisation.png
/outputs/BraTS2021_00019/cnn_probability_map.nii.gz
/outputs/BraTS2021_00019/segmentation_mask.nii.gz
/outputs/BraTS2021_00019/visualisation.png
/outputs/BraTS2021_00046/cnn_probability_map.nii.gz
/outputs/BraTS2021_00046/segmentation_mask.nii.gz
/outputs/BraTS2021_00046/visualisation.png
/outputs/BraTS2021_00064/cnn_probability_map.nii.gz
/outputs/BraTS2021_00064/segmentation_mask.nii.gz
/outputs/BraTS2021_00064/visualisation.png
/outputs/BraTS2021_00066/cnn_probability_map.nii.gz
/outputs/BraTS2021_00066/segmentation_mask.nii.gz
/outputs/BraTS2021_00066/visualisation.png
/outputs/BraTS2021_00098/cnn_probability_map.nii.gz
/outputs/BraTS2021_00098/segmentation_mask.nii.gz
/outputs/BraTS2021_00098/visualisation.png
/outputs/BraTS2021_00100/cnn_probability_map.nii.gz
/outputs/BraTS2021_00100/segmentation_mask.nii.gz
/outputs/BraTS2021_00100/visualisation.png
/outputs/BraTS2021_00110/cnn_probability_map.nii.gz
/outputs/BraTS2021_00110/segmentation_mask.nii.gz
/outputs/BraTS2021_00110/visualisation.png
/outputs/BraTS2021_00140/cnn_probability_map.nii.gz
/outputs/BraTS2021_00140/segmentation_mask.nii.gz
/outputs/BraTS2021_00140/visualisation.png
/outputs/BraTS2021_00152/cnn_probability_map.nii.gz
/outputs/BraTS2021_00152/segmentation_mask.nii.gz
/outputs/BraTS2021_00152/visualisation.png
/outputs/BraTS2021_00166/cnn_probability_map.nii.gz
/outputs/BraTS2021_00166/segmentation_mask.nii.gz
/outputs/BraTS2021_00166/visualisation.png
/outputs/BraTS2021_00178/cnn_probability_map.nii.gz
/outputs/BraTS2021_00178/segmentation_mask.nii.gz
/outputs/BraTS2021_00178/visualisation.png
/outputs/BraTS2021_00184/cnn_probability_map.nii.gz
/outputs/BraTS2021_00184/segmentation_mask.nii.gz
/outputs/BraTS2021_00184/visualisation.png
/outputs/BraTS2021_00192/cnn_probability_map.nii.gz
/outputs/BraTS2021_00192/segmentation_mask.nii.gz
/outputs/BraTS2021_00192/visualisation.png
/outputs/BraTS2021_00222/cnn_probability_map.nii.gz
/outputs/BraTS2021_00222/segmentation_mask.nii.gz
/outputs/BraTS2021_00222/visualisation.png
/outputs/BraTS2021_00237/cnn_probability_map.nii.gz
/outputs/BraTS2021_00237/segmentation_mask.nii.gz
/outputs/BraTS2021_00237/visualisation.png
/outputs/BraTS2021_00240/cnn_probability_map.nii.gz
/outputs/BraTS2021_00240/segmentation_mask.nii.gz
/outputs/BraTS2021_00240/visualisation.png
/outputs/BraTS2021_00266/cnn_probability_map.nii.gz
/outputs/BraTS2021_00266/segmentation_mask.nii.gz
/outputs/BraTS2021_00266/visualisation.png
/outputs/BraTS2021_00274/cnn_probability_map.nii.gz
/outputs/BraTS2021_00274/segmentation_mask.nii.gz
/outputs/BraTS2021_00274/visualisation.png
/outputs/gitkeep
/outputs/training_history.png
